body{
    background: #dee2e6;
    font-family: 'Inter', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    width: 600px;
    height: auto;
    margin: 0 auto;

}

.add-todo{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    height: 2rem;
    border-radius: 4px;
    overflow: hidden;

}
.add-todo input{
    width: 85%;
    height: 2.3rem;
    border: none;
    box-shadow: none;
    
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    
}
.add-todo button{
    width: 20%;
    padding:0.6rem 0.8rem 0.6rem 0.8rem;
    border: none;
    cursor: pointer;
}

.todo-list{
 padding: 0.5rem;
}
.todo-list li{
    padding: 0.6rem;
    width: 100%;
    
    border:1px solid #dee2e6;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
ul {
    width: calc(100% - 1.2rem);
    margin: 0;
    padding: 0;
    list-style: none;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    padding-inline-start: 0 !important;
}
.listItem{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.btns{
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
.removeBtn{
    border: none;
    outline: none;
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
    margin-left: auto;
    cursor: pointer;


}
.line-through > span {
    text-decoration: line-through;
    display: flex;
    justify-content: center;
    align-items: center;

}